.detail-container {
  background-color: #ffffff;
  max-width: 700px;
  margin: 40px auto;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  color:green;
}

.detail-container h2 {
  color: #2e7d32;
}

.detail-container ul {
  list-style: none;
  padding: 0;
}

.detail-container li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  color:green
}
